<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<connectionStrings>
		<add name="BaseDatosPruebaEntities1"
			 providerName="System.Data.EntityClient"
			 connectionString="metadata=res://*/BasePictionaryMusical.csdl|res://*/BasePictionaryMusical.ssdl|res://*/BasePictionaryMusical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BaseDatosPrueba;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
	</connectionStrings>

	<appSettings>
		<add key="Correo.Remitente.Direccion" value="pictionarymusical8@gmail.com" />
		<add key="Correo.Remitente.Nombre" value="Pictionary Musical" />
		<add key="Correo.Smtp.Host" value="smtp.gmail.com" />
		<add key="Correo.Smtp.Puerto" value="587" />
		<add key="Correo.Smtp.Usuario" value="pictionarymusical8@gmail.com" />
		<add key="Correo.Smtp.Contrasena" value="hnyy gsui zyij mvnp" />
		<add key="Correo.Smtp.HabilitarSsl" value="true" />
	</appSettings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.CuentaManejador">
				<endpoint address="Cuenta" binding="basicHttpBinding" contract="Servicios.Contratos.ICuentaManejador" />
				<endpoint address="Cuenta" binding="netTcpBinding" contract="Servicios.Contratos.ICuentaManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/Cuenta" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/Cuenta" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.CodigoVerificacionManejador">
				<endpoint address="CodigoVerificacion" binding="basicHttpBinding"
						  contract="Servicios.Contratos.ICodigoVerificacionManejador" />
				<endpoint address="CodigoVerificacion" binding="netTcpBinding"
						  contract="Servicios.Contratos.ICodigoVerificacionManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/CodigoVerificacion" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/CodigoVerificacion" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.CatalogoAvataresManejador">
				<endpoint address="Avatares" binding="basicHttpBinding" contract="Servicios.Contratos.ICatalogoAvataresManejador" />
				<endpoint address="Avatares" binding="netTcpBinding" contract="Servicios.Contratos.ICatalogoAvataresManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/Avatares" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/Avatares" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.InicioSesionManejador">
				<endpoint address="InicioSesion" binding="basicHttpBinding" contract="Servicios.Contratos.IInicioSesionManejador" />
				<endpoint address="InicioSesion" binding="netTcpBinding" contract="Servicios.Contratos.IInicioSesionManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/InicioSesion" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/InicioSesion" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.CambioContrasenaManejador">
				<endpoint address="CambiarContrasena" binding="basicHttpBinding"
						  contract="Servicios.Contratos.ICambioContrasenaManejador" />
				<endpoint address="CambiarContrasena" binding="netTcpBinding"
						  contract="Servicios.Contratos.ICambioContrasenaManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/CambiarContrasena" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/CambiarContrasena" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.ClasificacionManejador">
				<endpoint address="Clasificacion" binding="basicHttpBinding"
						  contract="Servicios.Contratos.IClasificacionManejador" />
				<endpoint address="Clasificacion" binding="netTcpBinding" contract="Servicios.Contratos.IClasificacionManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/Clasificacion" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/Clasificacion" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.PerfilManejador">
				<endpoint address="Perfil" binding="basicHttpBinding" contract="Servicios.Contratos.IPerfilManejador" />
				<endpoint address="Perfil" binding="netTcpBinding" contract="Servicios.Contratos.IPerfilManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/Perfil" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/Perfil" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.AmigosManejador">
				<endpoint address="Amigos" binding="wsDualHttpBinding" contract="Servicios.Contratos.IAmigosManejador" />
				<endpoint address="Amigos" binding="netTcpBinding" contract="Servicios.Contratos.IAmigosManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/Amigos" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/Amigos" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Servicios.ListaAmigosManejador">
				<endpoint address="ListaAmigos" binding="wsDualHttpBinding" contract="Servicios.Contratos.IListaAmigosManejador" />
				<endpoint address="ListaAmigos" binding="netTcpBinding" contract="Servicios.Contratos.IListaAmigosManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086/Pictionary/ListaAmigos" />
						<add baseAddress="net.tcp://localhost:8096/Pictionary/ListaAmigos" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>