<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

	<!-- La cadena de conexión se construye dinámicamente usando variables de entorno:
	     BD_SERVIDOR: nombre del servidor o instancia de SQL Server
	     BD_USUARIO: usuario de la base de datos SQL
	     BD_CONTRASENA: contraseña del usuario de la base de datos SQL
	     Ver Datos/Utilidades/Conexion.cs para la implementación -->
	<connectionStrings>
	</connectionStrings>
</configuration>