<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ICodigoVerificacionManejador" />
    <binding name="BasicHttpBinding_ICuentaManejador" />
    <binding name="BasicHttpBinding_IInicioSesionManejador" />
    <binding name="BasicHttpBinding_ICambioContrasenaManejador" />
    <binding name="BasicHttpBinding_IClasificacionManejador" />
    <binding name="BasicHttpBinding_IPerfilManejador" />
    <binding name="BasicHttpBinding_IInvitacionesManejador" />
    <binding name="BasicHttpBinding_IInvitacionesManejador1" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_ICodigoVerificacionManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ICuentaManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IInicioSesionManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ICambioContrasenaManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IClasificacionManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IPerfilManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IListaAmigosManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISalasManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IAmigosManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IInvitacionesManejador">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISalasManejador1">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
   <wsDualHttpBinding>
    <binding name="WSDualHttpBinding_IListaAmigosManejador">
     <security mode="None" />
    </binding>
    <binding name="WSDualHttpBinding_ISalasManejador">
     <security mode="None" />
    </binding>
    <binding name="WSDualHttpBinding_IAmigosManejador">
     <security mode="None" />
    </binding>
    <binding name="WSDualHttpBinding_ISalasManejador1">
     <security mode="None" />
    </binding>
   </wsDualHttpBinding>
  </bindings>

		<client>
   <endpoint address="http://localhost:8503/Pictionary/CodigoVerificacion/CodigoVerificacion"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodigoVerificacionManejador"
    contract="PictionaryServidorServicioCodigoVerificacion.ICodigoVerificacionManejador"
    name="BasicHttpBinding_ICodigoVerificacionManejador" />
   <endpoint address="net.tcp://localhost:8504/Pictionary/CodigoVerificacion/CodigoVerificacion"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICodigoVerificacionManejador"
    contract="PictionaryServidorServicioCodigoVerificacion.ICodigoVerificacionManejador"
    name="NetTcpBinding_ICodigoVerificacionManejador" />
   <endpoint address="http://localhost:8501/Pictionary/Cuenta/Cuenta"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICuentaManejador"
    contract="PictionaryServidorServicioCuenta.ICuentaManejador"
    name="BasicHttpBinding_ICuentaManejador" />
   <endpoint address="net.tcp://localhost:8502/Pictionary/Cuenta/Cuenta"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICuentaManejador"
    contract="PictionaryServidorServicioCuenta.ICuentaManejador"
    name="NetTcpBinding_ICuentaManejador" />
   <endpoint address="http://localhost:8507/Pictionary/InicioSesion/InicioSesion"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInicioSesionManejador"
    contract="PictionaryServidorServicioInicioSesion.IInicioSesionManejador"
    name="BasicHttpBinding_IInicioSesionManejador" />
   <endpoint address="net.tcp://localhost:8508/Pictionary/InicioSesion/InicioSesion"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInicioSesionManejador"
    contract="PictionaryServidorServicioInicioSesion.IInicioSesionManejador"
    name="NetTcpBinding_IInicioSesionManejador" />
   <endpoint address="http://localhost:8511/Pictionary/Clasificacion/Clasificacion"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClasificacionManejador"
    contract="PictionaryServidorServicioClasificacion.IClasificacionManejador"
    name="BasicHttpBinding_IClasificacionManejador" />
   <endpoint address="net.tcp://localhost:8512/Pictionary/Clasificacion/Clasificacion"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClasificacionManejador"
    contract="PictionaryServidorServicioClasificacion.IClasificacionManejador"
    name="NetTcpBinding_IClasificacionManejador" />
   <endpoint address="http://localhost:8513/Pictionary/Perfil/Perfil"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerfilManejador"
    contract="PictionaryServidorServicioPerfil.IPerfilManejador"
    name="BasicHttpBinding_IPerfilManejador" />
   <endpoint address="net.tcp://localhost:8514/Pictionary/Perfil/Perfil"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPerfilManejador"
    contract="PictionaryServidorServicioPerfil.IPerfilManejador"
    name="NetTcpBinding_IPerfilManejador" />
   <endpoint address="http://localhost:8517/Pictionary/ListaAmigos/ListaAmigos"
    binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IListaAmigosManejador"
    contract="PictionaryServidorServicioListaAmigos.IListaAmigosManejador"
    name="WSDualHttpBinding_IListaAmigosManejador" />
   <endpoint address="net.tcp://localhost:8518/Pictionary/ListaAmigos/ListaAmigos"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IListaAmigosManejador"
    contract="PictionaryServidorServicioListaAmigos.IListaAmigosManejador"
    name="NetTcpBinding_IListaAmigosManejador" />
   <endpoint address="http://localhost:8521/Pictionary/Invitaciones/Invitaciones"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvitacionesManejador"
    contract="PictionaryMusicalServidor.Servicios.Contratos.IInvitacionesManejador" 
	name="BasicHttpBinding_IInvitacionesManejador" />
   <endpoint address="http://localhost:8509/Pictionary/CambioContrasena/CambioContrasena"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICambioContrasenaManejador"
    contract="PictionaryServidorServicioCambioContrasena.ICambioContrasenaManejador"
    name="BasicHttpBinding_ICambioContrasenaManejador" />
   <endpoint address="net.tcp://localhost:8510/Pictionary/CambioContrasena/CambioContrasena"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICambioContrasenaManejador"
    contract="PictionaryServidorServicioCambioContrasena.ICambioContrasenaManejador"
    name="NetTcpBinding_ICambioContrasenaManejador" />
   <endpoint address="http://localhost:8515/Pictionary/Amigos/Amigos"
    binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAmigosManejador"
    contract="PictionaryServidorServicioAmigos.IAmigosManejador"
    name="WSDualHttpBinding_IAmigosManejador" />
   <endpoint address="net.tcp://localhost:8516/Pictionary/Amigos/Amigos"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAmigosManejador"
    contract="PictionaryServidorServicioAmigos.IAmigosManejador"
    name="NetTcpBinding_IAmigosManejador" />
   <endpoint address="http://localhost:8521/Pictionary/Invitaciones/Invitaciones"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvitacionesManejador1"
    contract="PictionaryServidorServicioInvitaciones.IInvitacionesManejador"
    name="BasicHttpBinding_IInvitacionesManejador1" />
   <endpoint address="net.tcp://localhost:8522/Pictionary/Invitaciones/Invitaciones"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInvitacionesManejador"
    contract="PictionaryServidorServicioInvitaciones.IInvitacionesManejador"
    name="NetTcpBinding_IInvitacionesManejador" />
   <endpoint address="http://localhost:8519/Pictionary/Salas/Salas"
    binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISalasManejador1"
    contract="PictionaryServidorServicioSalas.ISalasManejador" name="WSDualHttpBinding_ISalasManejador" />
   <endpoint address="net.tcp://localhost:8520/Pictionary/Salas/Salas"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalasManejador1"
    contract="PictionaryServidorServicioSalas.ISalasManejador" name="NetTcpBinding_ISalasManejador" />
  </client>
	</system.serviceModel>
</configuration>
