<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IClasificacionManejador" />
				<binding name="BasicHttpBinding_IPerfilManejador" />
				<binding name="BasicHttpBinding_IInicioSesionManejador" />
				<binding name="BasicHttpBinding_ICuentaManejador" />
				<binding name="BasicHttpBinding_ICatalogoAvataresManejador" />
				<binding name="BasicHttpBinding_ICambioContrasenaManejador" />
				<binding name="BasicHttpBinding_ICodigoVerificacionManejador" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_Default">
					<security mode="None" />
				</binding>
			</netTcpBinding>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding_Default">
					<security mode="None" />
				</binding>
			</wsDualHttpBinding>
		</bindings>

		<client>
			<endpoint address="net.tcp://192.168.101.15:8502/Pictionary/Cuenta/Cuenta"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioCuenta.ICuentaManejador"
                      name="CuentaEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8504/Pictionary/CodigoVerificacion/CodigoVerificacion"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioCodigoVerificacion.ICodigoVerificacionManejador"
                      name="CodigoVerificacionEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8506/Pictionary/Avatares/Avatares"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioAvatares.ICatalogoAvataresManejador"
                      name="AvataresEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8508/Pictionary/InicioSesion/InicioSesion"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioInicioSesion.IInicioSesionManejador"
                      name="InicioSesionEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8510/Pictionary/CambiarContrasena/CambiarContrasena"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioCambioContrasena.ICambioContrasenaManejador"
                      name="CambioContrasenaEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8512/Pictionary/Clasificacion/Clasificacion"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioClasificacion.IClasificacionManejador"
                      name="ClasificacionEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8514/Pictionary/Perfil/Perfil"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioPerfil.IPerfilManejador"
                      name="PerfilEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8516/Pictionary/Amigos/Amigos"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioAmigos.IAmigosManejador"
                      name="AmigosEndpoint" />

			<endpoint address="net.tcp://192.168.101.15:8518/Pictionary/ListaAmigos/ListaAmigos"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default"
                      contract="PictionaryServidorServicioListaAmigos.IListaAmigosManejador"
                      name="ListaAmigosEndpoint" />
		</client>
	</system.serviceModel>
</configuration>
