<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PictionaryMusicalCliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<userSettings>
		<PictionaryMusicalCliente.Properties.Settings>
			<setting name="idiomaCodigo" serializeAs="String">
				<value>es-MX</value>
			</setting>
		</PictionaryMusicalCliente.Properties.Settings>
	</userSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_ICuentaManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_ICodigoVerificacionManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_ICatalogoAvataresManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_IInicioSesionManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_ICambioContrasenaManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_IClasificacionManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_IPerfilManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_IAmigosManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_IListaAmigosManejador">
					<security mode="None">
						<transport sslProtocols="None"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			<!-- Alias BasicHttp -> net.tcp (puertos 8201–8209) -->
			<endpoint address="net.tcp://192.168.101.15:8201/Pictionary/Cuenta/Cuenta"
					  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICuentaManejador"
					  contract="PictionaryServidorServicioCuenta.ICuentaManejador"
					  name="BasicHttpBinding_ICuentaManejador" />

			<endpoint address="net.tcp://192.168.101.15:8202/Pictionary/CodigoVerificacion/CodigoVerificacion"
					  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICodigoVerificacionManejador"
					  contract="PictionaryServidorServicioCodigoVerificacion.ICodigoVerificacionManejador"
					  name="BasicHttpBinding_ICodigoVerificacionManejador" />

			<endpoint address="net.tcp://192.168.101.15:8203/Pictionary/Avatares/Avatares"
					  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICatalogoAvataresManejador"
					  contract="PictionaryServidorServicioAvatares.ICatalogoAvataresManejador"
					  name="BasicHttpBinding_ICatalogoAvataresManejador" />

			<endpoint address="net.tcp://192.168.101.15:8204/Pictionary/InicioSesion/InicioSesion"
					  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInicioSesionManejador"
					  contract="PictionaryServidorServicioInicioSesion.IInicioSesionManejador"
					  name="BasicHttpBinding_IInicioSesionManejador" />

			<endpoint address="net.tcp://192.168.101.15:8205/Pictionary/CambiarContrasena/CambiarContrasena"
					  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICambioContrasenaManejador"
					  contract="PictionaryServidorServicioCambioContrasena.ICambioContrasenaManejador"
					  name="BasicHttpBinding_ICambioContrasenaManejador" />

			<endpoint address="net.tcp://192.168.101.15:8206/Pictionary/Clasificacion/Clasificacion"
					  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClasificacionManejador"
					  contract="PictionaryServidorServicioClasificacion.IClasificacionManejador"
					  name="BasicHttpBinding_IClasificacionManejador" />

			<endpoint address="net.tcp://192.168.101.15:8207/Pictionary/Perfil/Perfil"
					  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPerfilManejador"
					  contract="PictionaryServidorServicioPerfil.IPerfilManejador"
					  name="BasicHttpBinding_IPerfilManejador" />

			<!-- LISTA AMIGOS: endpoint con el nombre que pide el código -->
			<endpoint address="net.tcp://192.168.101.15:8209/Pictionary/ListaAmigos/ListaAmigos"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IListaAmigosManejador"
					  contract="PictionaryServidorServicioListaAmigos.IListaAmigosManejador"
					  name="NetTcpBinding_IListaAmigosManejador" />

			<!-- (Recomendado) AMIGOS, por si tu código usa también el nombre NetTcpBinding_* -->
			<endpoint address="net.tcp://192.168.101.15:8208/Pictionary/Amigos/Amigos"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IAmigosManejador"
					  contract="PictionaryServidorServicioAmigos.IAmigosManejador"
					  name="NetTcpBinding_IAmigosManejador" />

		</client>
	</system.serviceModel>
</configuration>
