<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\servidor-bitacora.txt" />
			<appendToFile value="true" />

			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>

	<connectionStrings>
		<add name="BaseDatosPruebaEntities1"
			 providerName="System.Data.EntityClient"
			 connectionString="metadata=res://*/BasePictionaryMusical.csdl|res://*/BasePictionaryMusical.ssdl|res://*/BasePictionaryMusical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BaseDatosPrueba;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
	</connectionStrings>

	<appSettings>
		<add key="Correo.Remitente.Direccion" value="pictionarymusical8@gmail.com" />
		<add key="Correo.Remitente.Nombre" value="Pictionary Musical" />
		<add key="Correo.Smtp.Host" value="smtp.gmail.com" />
		<add key="Correo.Smtp.Puerto" value="587" />
		<add key="Correo.Smtp.Usuario" value="pictionarymusical8@gmail.com" />
		<add key="Correo.Smtp.Contrasena" value="hnyy gsui zyij mvnp" />
		<add key="Correo.Smtp.HabilitarSsl" value="true" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="tcpNoSecurity">
					<security mode="None" />
				</binding>
			</netTcpBinding>
			<wsDualHttpBinding>
				<binding name="wsDualNoSecurity">
					<security mode="None" />
				</binding>
			</wsDualHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.CuentaManejador">
				<endpoint address="Cuenta" binding="basicHttpBinding" contract="PictionaryMusicalServidor.Servicios.Contratos.ICuentaManejador" />
				<endpoint address="Cuenta" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.ICuentaManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8501/Pictionary/Cuenta" />
						<add baseAddress="net.tcp://localhost:8502/Pictionary/Cuenta" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.CodigoVerificacionManejador">
				<endpoint address="CodigoVerificacion" binding="basicHttpBinding" contract="PictionaryMusicalServidor.Servicios.Contratos.ICodigoVerificacionManejador" />
				<endpoint address="CodigoVerificacion" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.ICodigoVerificacionManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8503/Pictionary/CodigoVerificacion" />
						<add baseAddress="net.tcp://localhost:8504/Pictionary/CodigoVerificacion" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.InicioSesionManejador">
				<endpoint address="InicioSesion" binding="basicHttpBinding" contract="PictionaryMusicalServidor.Servicios.Contratos.IInicioSesionManejador" />
				<endpoint address="InicioSesion" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IInicioSesionManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8507/Pictionary/InicioSesion" />
						<add baseAddress="net.tcp://localhost:8508/Pictionary/InicioSesion" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.CambioContrasenaManejador">
				<endpoint address="CambioContrasena" binding="basicHttpBinding" contract="PictionaryMusicalServidor.Servicios.Contratos.ICambioContrasenaManejador" />
				<endpoint address="CambioContrasena" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.ICambioContrasenaManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8509/Pictionary/CambioContrasena" />
						<add baseAddress="net.tcp://localhost:8510/Pictionary/CambioContrasena" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.ClasificacionManejador">
				<endpoint address="Clasificacion" binding="basicHttpBinding" contract="PictionaryMusicalServidor.Servicios.Contratos.IClasificacionManejador" />
				<endpoint address="Clasificacion" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IClasificacionManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8511/Pictionary/Clasificacion" />
						<add baseAddress="net.tcp://localhost:8512/Pictionary/Clasificacion" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.PerfilManejador">
				<endpoint address="Perfil" binding="basicHttpBinding" contract="PictionaryMusicalServidor.Servicios.Contratos.IPerfilManejador" />
				<endpoint address="Perfil" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IPerfilManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8513/Pictionary/Perfil" />
						<add baseAddress="net.tcp://localhost:8514/Pictionary/Perfil" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.AmigosManejador">
				<endpoint address="Amigos" binding="wsDualHttpBinding" bindingConfiguration="wsDualNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IAmigosManejador" />
				<endpoint address="Amigos" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IAmigosManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8515/Pictionary/Amigos" />
						<add baseAddress="net.tcp://localhost:8516/Pictionary/Amigos" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.ListaAmigosManejador">
				<endpoint address="ListaAmigos" binding="wsDualHttpBinding" bindingConfiguration="wsDualNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IListaAmigosManejador" />
				<endpoint address="ListaAmigos" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IListaAmigosManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8517/Pictionary/ListaAmigos" />
						<add baseAddress="net.tcp://localhost:8518/Pictionary/ListaAmigos" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.SalasManejador">
				<endpoint address="Salas" binding="wsDualHttpBinding" bindingConfiguration="wsDualNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.ISalasManejador" />
				<endpoint address="Salas" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.ISalasManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8519/Pictionary/Salas" />
						<add baseAddress="net.tcp://localhost:8520/Pictionary/Salas" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="PictionaryMusicalServidor.Servicios.Servicios.InvitacionesManejador">
				<endpoint address="Invitaciones" binding="basicHttpBinding" contract="PictionaryMusicalServidor.Servicios.Contratos.IInvitacionesManejador" />
				<endpoint address="Invitaciones" binding="netTcpBinding" bindingConfiguration="tcpNoSecurity" contract="PictionaryMusicalServidor.Servicios.Contratos.IInvitacionesManejador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8521/Pictionary/Invitaciones" />
						<add baseAddress="net.tcp://localhost:8522/Pictionary/Invitaciones" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>